<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".WebResearchApp"
        android:theme="@style/AppTheme"
        android:label="web research"
        android:icon="@drawable/ic_web_research"
        android:roundIcon="@drawable/ic_web_research"
        android:usesCleartextTraffic="false">
        <provider
            android:name=".CookieTraceProvider"
            android:authorities="${applicationId}.cookieTrace"
            android:exported="false"
            android:initOrder="100" />
        <provider
            android:name=".CookieTraceUiProvider"
            android:authorities="${applicationId}.cookieTraceUi"
            android:exported="false"
            android:initOrder="90" />
        <provider
            android:name=".AuthUiProvider"
            android:authorities="${applicationId}.authUi"
            android:exported="false"
            android:initOrder="80" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".WebResearchV10Activity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NetworkResearchActivity" android:exported="false" android:label="Сетевые запросы" />
        <activity android:name=".NetworkDebuggerActivity" android:exported="false" android:label="Сетевые запросы" />
    </application>
</manifest>